---
Checks: "-*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  portability-*,
  readability-*,
"